<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>koa2</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <h1> serve 2 192.168.2.167 </h1>
    {% block content %}{% endblock %}
</body>
    
</html>