User root
Host server1
HostName 39.105.54.228
StrictHostKeyChecking no
IdentityFile ~/.ssh/bounlusin_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO

User root
Host server2
HostName 39.105.63.9
StrictHostKeyChecking no
IdentityFile ~/.ssh/bounlusin_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO