User root
Host server1
HostName 39.106.12.1
IdentityFile ~/.ssh/bounlusin_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO

User root
Host server2
HostName 59.110.152.78
StrictHostKeyChecking no
IdentityFile ~/.ssh/bounlusin_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO